.sidebar {
    height: 85vh;
    background-color: #434f6a;
}

.bg1{
    background-color: #718bbe;
    color: white;
}

.btnAdd{
    background-color: #434f6a;
    color: white;
}

.btnAdd1{
    background-color: #434f6a !important;
    color: white;
}

.btnAdd:hover{
    background-color: white;
    color: #434f6a;
    font-weight: bold;
}

.imgProduit{
    height: 260px;
}

.trait {
    border: 2px solid #434f6a;
    width: 20%;
    margin: 0 auto;
}

.titre {
    color: #434f6a;
}

.btnAction{
    background-color: #718bbe;
    color: white;
}

.btnAction:hover{
    background-color: white;
    color: #434f6a;
    font-weight: bold;
}


.nav-pills a {
    cursor: pointer;
}

.navColor{
    background-color: #718bbe !important;
    font-weight: bold;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
}