<!-- header -->
<app-header></app-header>
<!-- header -->


<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-2 p-0 sidebarContainer">
            <div class="d-flex sidebar flex-column flex-shrink-0 p-2">
                <a class="text-center fw-bold fs-4  text-white text-decoration-none">
                    Tableau de bord
                </a>
                <hr>

                <ul class="nav nav-pills flex-column mb-auto">
                    
                    <li class="nav-item my-2" [ngClass]="{'navColor': boutonActif === 1}"
                        (click)="showContent('listeProduits')" (click)="boutonActif = 1">
                        <a class="nav-link text-light">
                            Liste produits
                        </a>
                    </li>

                    <li class="nav-item my-2" [ngClass]="{'navColor': boutonActif === 2}"
                        (click)="showContent('produitOff')" (click)="boutonActif = 2">
                        <a class="nav-link text-light">
                            Liste produits désactivés
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-12 col-md-10 border">
            
            <!-- liste produits -->
            <div class="listeProduits p-2" id="listeProduits" *ngIf="currentContent === 'listeProduits'">
            
                <h4 class="text-center fw-bold titre">Liste des produits</h4>
                <div class="trait"></div>
                <button class="btn btnAdd mt-2 mb-2 active" data-bs-toggle="modal" data-bs-target="#ajoutProduit">Ajouter un produit
                </button>
            
            
                <div class=" p-3 mt-2 overflow-y-scroll" style="height: 68vh;">
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 mb-3" *ngFor="let produit of produitsUserId.reverse()">
                                <div class="card shadow">
                                    <img [src]="produit.imageUrl" class="card-img-top imgProduit" alt="">
                                    <div class="card-body">
                                        <h5 class="card-title">{{produit.nomProduit}}</h5>
                                        <p class="card-text"><span class="fw-bold">Description:</span> <br> {{produit.description}}</p>
                                        <p class="card-text"><span class="fw-bold">Prix:</span> {{produit.prix}} Fcfa</p>
                    
                                        <!-- Boutons d'action par exemple -->
                                        <div class="btnActions d-flex justify-content-between">
                                            <a href="#" class="btn btnAction active me-2" data-bs-toggle="modal" data-bs-target="#modifierProduit">Modifier</a>
                                            <a href="#" class="btn btnAction active">Désactiver</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            <!-- liste produits -->

            <!-- listes produits supprimés -->
            <div class="produitOff" id="produitOff" *ngIf="currentContent === 'produitOff'">
                <h4 class="text-center mt-2 fw-bold titre">Liste des produits désactivés</h4>
                <div class="trait"></div>
            
                <div class=" overflow-y-scroll mt-5" style="height: 68vh;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 mb-3" *ngFor="let produit of produitsUserId.reverse()">
                                <div class="card shadow">
                                    <img [src]="produit.imageUrl" class="card-img-top imgProduit" alt="">
                                    <div class="card-body">
                                        <h5 class="card-title">{{produit.nomProduit}}</h5>
                                        <p class="card-text"><span class="fw-bold">Description:</span> <br> {{produit.description}}</p>
                                        <p class="card-text"><span class="fw-bold">Prix:</span> {{produit.prix}} Fcfa</p>
                    
                                        <!-- Boutons d'action par exemple -->
                                        <div class="btnActions d-flex justify-content-between">
                                            <a href="#" class="btn btnAction active me-2">Activer</a>
                                            <a href="#" class="btn btnAction active">Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
            <!-- listes produits supprimés -->

        </div>
    </div>
</div>




<!-- Modal ajout produit -->
<div class="modal fade" id="ajoutProduit">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 titre fw-bold">Ajouter un Produit</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="">
                        <div class="mb-3">
                            <label for="nomProduit" class="form-label">Nom du produit: </label>
                            <input type="text" class="form-control" id="nomProduit" name="nomProduit" [(ngModel)]="nomProduit">
                        </div>
                        
                        <div class="mb-3">
                            <label for="imageProduit" class="form-label">Image du produit</label>
                            <input type="text" class="form-control" id="imageProduit" name="imageProduit" [(ngModel)]="imageProduit">
                        </div>
                        
                        <div class="mb-3">
                            <label for="prixProduit" class="form-label">Prix du produit</label>
                            <input type="text" class="form-control" id="prixProduit" name="prixProduit" [(ngModel)]="prixProduit">
                        </div>

                        <div class="mb-3">
                            <label for="descProduit" class="form-label">Description du produit</label>
                            <textarea name="descProduit" class="form-control" id="descProduit" cols="3" rows="5" [(ngModel)]="descProduit"></textarea>
                        </div>
                    </div>
                    
                    <!-- Envoi du formulaire -->
                    <div class="d-flex justify-content-end">
                        <button class="btn btnAdd1 text-light" type="submit" data-bs-dismiss="modal" (click)="ajoutProduit()">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal ajout produit -->


<!-- Modal détail produit -->
<div class="modal fade" id="detailProduit">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 titre fw-bold">Détails du Produit</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="">
                        <div class="mb-3">
                            <label for="nomProduit" class="form-label">Nom du produit: </label>
                            <input type="text" class="form-control" id="nomProduit" name="nomProduit">
                        </div>

                        <div class="mb-3">
                            <label for="imageProduit" class="form-label">Image du produit</label>
                            <input type="text" class="form-control" id="imageProduit" name="imageProduit">
                        </div>

                        <div class="mb-3">
                            <label for="descProduit" class="form-label">Description du produit</label>
                            <input type="text" class="form-control" id="descProduit" name="descProduit">
                        </div>

                        <div class="mb-3">
                            <label for="prixProduit" class="form-label">Prix du produit</label>
                            <input type="text" class="form-control" id="prixProduit" name="prixProduit">
                        </div>
                    </div>

                    <!-- Envoi du formulaire -->
                    <div class="d-flex justify-content-end">
                        <button class="btn btnAdd1 text-light" type="submit" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal détail produit -->


<!-- Modal modifier produit -->
<div class="modal fade" id="modifierProduit">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 titre fw-bold">Modifier le produit</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="">
                        <div class="mb-3">
                            <label for="nomProduit" class="form-label">Nom du produit: </label>
                            <input type="text" class="form-control" id="nomProduit" name="nomProduit">
                        </div>

                        <div class="mb-3">
                            <label for="imageProduit" class="form-label">Image du produit</label>
                            <input type="text" class="form-control" id="imageProduit" name="imageProduit">
                        </div>

                        <div class="mb-3">
                            <label for="descProduit" class="form-label">Description du produit</label>
                            <input type="text" class="form-control" id="descProduit" name="descProduit">
                        </div>

                        <div class="mb-3">
                            <label for="prixProduit" class="form-label">Prix du produit</label>
                            <input type="text" class="form-control" id="prixProduit" name="prixProduit">
                        </div>
                    </div>

                    <!-- Envoi du formulaire -->
                    <div class="d-flex justify-content-end">
                        <button class="btn btnAdd1 text-light" type="submit" data-bs-dismiss="modal">Modifier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal modifier produit -->



<!-- footer -->
<app-footer></app-footer>
<!-- footer -->